; EditorConfig to support per-solution formatting.
; Use the EditorConfig VS add-in to make this work.
; http://editorconfig.org/

; This is the default for the codeline.
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[{*.json,*.yml}]
indent_size = 2

[*.scss]
indent_size = 2
indent_style = space

[*.{proj,props,sln,targets}]
indent_style = tab
trim_trailing_whitespace = true

[*.{kproj,csproj,json,ps1,psd1,psm1,resx,rst}]
indent_style = space
indent_size = 2

[NuGet.Config]
indent_size = 2
